<div id="container">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <input class="input-field" formControlName="email" placeholder="email" type="email">
        <span id="email-error" *ngIf="loginForm.value.email.invalid">
            Invalid email!
        </span>

        <input class="input-field" formControlName="password" placeholder="password" type="password">

        <input type="submit" id="submit-btn" [disabled]="loginForm.invalid">
    </form>

    <span *ngIf="successful">
        registration success
    </span>
    <span *ngIf="!successful">
        registration error
    </span>

    
</div>