#container {
    align-self: center;
    align-items: center;
    background-color: aquamarine;
    max-width: 600px;
    height: 300px;
    margin: auto;
    padding-top: 4rem;
}

h1 {
    background-color: blueviolet;
    text-align: center;
}

form {
    display: grid;
    row-gap: 15px;
    grid-template-columns: auto;
    padding: auto 40px;
    margin: 10px 40px;
}

.input-field {
    height: 30px;
}

#submit-btn {
    padding: 20px;
    width: 150px;
    align-self: center;
    margin: 20px auto;
}

label {
    padding: 5px;
    margin: auto;
}